a {
    color: aqua
}

a:hover {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}

/* Displaying the page in the lower left corner. */
#page {
    bottom: -15px;
    padding: 10px;
    position: fixed;
}

#icon_home {
    position: fixed;
    width: 100px;
    bottom: 0;
    right: 0;
    filter: invert(1) brightness(50%);
    -webkit-filter: invert(1) brightness(50%);
    -moz-filter: invert(1) brightness(50%);
    -o-filter: invert(1) brightness(50%);
    -ms-filter: invert(1) brightness(50%);
}