/* Displaying the page in the lower left corner. */
#page {
  /* Partially determines the vertical position. */
  bottom: -15px;

  padding: 10px;

  /* Specifies how the element is positioned in the document.
    -> https://developer.mozilla.org/ru/docs/Web/CSS/position */
  position: fixed;
}

#icon_home {
  position: fixed;
  width: 100px;
  bottom: 0;
  right: 0;
  filter: invert(1);
}

a {
  color: aqua
}
