body {
  background: linear-gradient(black, black), url(img/sunset.jpg);
  background-size: cover;
  background-blend-mode: saturation;
  color: white;
}

#day {
  bottom: 0;
  left: 10;
  padding: 10px;
  position: fixed;
}

.text_1 {
  margin-top: 0px;
  padding: 0px;
}

.abbreviations {
  text-align: right;
  margin-top: 0px;
}