body {
    margin: 0;
}

.rectangle {
    width: 300px;
    height: 150px;
    opacity: 1;
}

.square {
    width: 150px;
    height: 75px;
    opacity: 1;
    float: left;
}

#r_colors {
    margin-bottom: 10px;
}

#s_1 {
    background-color: lightpink;
}

#s_2 {
    background-color: bisque;
}

#s_3 {
    background-color: seagreen;
}

#s_4 {
    background-color: lightcyan;
}

.square p {
    text-align: center;
    vertical-align: middle;
    line-height: 37.5px;
}

.panel {
    border: 1px solid red;
    width: 300px;
    height: 150px;
    opacity: 0.5;
    float: left;
}

#r_1 {
    background-color: beige;
}

#r_2 {
    background-color: burlywood;
}

#r_3 {
    background-color: violet;
}

#r_4 {
    background-color: beige;
}

.panel:hover {
    opacity: 1;
}

#icon_home:hover {
    filter: invert(0);
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -o-filter: invert(0);
    -ms-filter: invert(0);
}